#body {
    font-family: 'Titillium Web', sans-serif;
    height: 100vh !important;
    width: 100%;
    position: relative;
}

header {
    height: 16%;
    background-color: gray;
}

main {
    height: 84%;
}
.no-border {
    border: 0 !important;
}

.container{
    position: absolute;
    opacity: 0;
    right: 100%;
    width: 0;
    height: 84%;
    transition: all ease-in .5s;
}

.container > * {
    width: 0;
    opacity: 0;
}

#principal {
    display: flex;
    opacity: 1;
    right: 0;
    width: 100%;
    height: 84%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#principal input{
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    font: inherit;
    opacity: 1;
    width: 40%;
    height: 5rem;
    padding: 1rem;
    word-wrap: break-word;
}

#game .buttons input {
    display: none;
}

#game:target {
    display: flex;
    opacity: 1;
    right: 0;
    width: 100%;
    height: 84%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: blue;
}

#game:target > * {
    opacity: 0;
    width: auto;
    animation: 1s fadeIn forwards .5s;
}

#game:target table {
    margin: .7rem .5rem;
}

#game:target table td {
    margin: 1rem .8rem;
    padding: 1rem;
}

#game:target table + div {
    margin: .7rem .5rem;
}

#game:target table + div p {
    width: fit-content;
    text-align: center;
    letter-spacing: 1rem;
}

#game:target .buttons {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 1rem 0;
}

#game:target .buttons input {
    display: block;
    width: auto;
    flex-basis: 20rem;
    flex-grow: .2;
    flex-shrink: 1;
    margin: .7rem .5rem;
    padding: 1rem 1.8rem;
    height: 3.5rem;
}

@keyframes fadeIn {
    100% { opacity:1 }
}